{% extends "header.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <p><a href="/users">Список активных пользователей</a></p>
    </div>

    <div class="row">
        <div>
            <form action="/by-id">
              id: <input type="text" name="id">
              <input type="submit" value="Показать">
            </form>
        </div>
    </div>

    <div class="row">
        <div>
            <form action="/by-login">
              login: <input type="text" name="login">
              <input type="submit" value="Показать">
            </form>
        </div>
    </div>
</div>
{% endblock %}

