{% extends "header.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Профиль</h1>
    </div>
    <div>
        <p>id: {{ user.id }}</p>
    </div>
    <div>
        <p>login: {{ user.login }}</p>
    </div>
    <div>
        <p>amount: {{ user.money_amount }}</p>
    </div>
    <div>
        <p>card: {{ user.card_number }}</p>
    </div>
    <div>
        {% if user.status %}
        <p>status: active</p>
        {% else %}
        <p>status: inactive</p>
        {% endif %}
    </div>
</div>

{% endblock %}
